#img1{
height: 500px; width: 1202px;text-align: center;  padding-bottom: 10px;
}
#img2{ height: 80px; padding-left: 500px;
    text-align: center;padding-left: 570PX;width: 80px;

}

.navbar a {
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    margin-left: 1px;
    padding: 14px 16px;
    text-decoration: none;

    }
.navbar{
    display: flex;
    justify-content: space-evenly;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkUvhi-mYdaquhn2WlKlHKiP6VEQQ0izxhKg&s)
}
 button{
    border-radius: 10px;
    border-color: greenyellow;
    background-color:rgb(253, 253, 253);
    transition: 0.3 ease;
           
           background-image:url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUSExMWFhUVFxUXFxUXFRUWFRUXFxcYFhUVFRUYHSggGBolHRUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OGxAQGi0lHyYtLy0tLS8rLS0tLS0tLy0tLS8uLS0tLS0tLS0tLS0tLS0vLS0tLS0tLS0tLS0tLS0tLf/AABEIAKgBKwMBIgACEQEDEQH/xAAbAAABBQEBAAAAAAAAAAAAAAAEAQIDBQYAB//EADUQAAEDAgUCBQMDBAIDAQAAAAEAAhEDIQQFEjFBUWEGEyJxgTKRoUKx8BTB0eEjYhUz8Qf/xAAbAQACAwEBAQAAAAAAAAAAAAABAwACBAUGB//EAC4RAAICAgIBAwEHBAMAAAAAAAABAhEDIRIxBBMiQVEFFDJhcaHRkbHB8CNCgf/aAAwDAQACEQMRAD8AoQ2U00Fd5Vlrazw2Y3PT7LSHwW5zfQQHdCSW/Jiy9dk83HilUmeejjnJXFGHw9JGsvYAAG17wuxmDdTe5jhDmkgjuomkhMb57TFMlxGELTG46od+HRlJ0p/lqRk1pgsrwxPY1FvoqMNTVKwWI1ikYxKxqnDVVsA2mxThq5oUzAluQBgakc1TtanGmqciAmlP0qQsS6UeRCAhc1qlcxI1qNkF0pHMUwCRwVVIhXYhqrKourfEtVbUatWNhQK4IZwRlQWQxC0RZdELgga26sKtgq83KdAshA1RuCnconK5YiIXEKQNXEIhsh0pdKk0rtKJLItK4hS6UhagSyGEkKbSu0KBsh0rtKl0rtKhLPUfDAZSqDzREj0/J7LfYVzdm29l53VwL2Hrp5G0Dt0VrlebOZaQBcxFvuvF+XheX3xdj8Gb0/a0XuIyGi95qE7yXB0EH54WCzfABlV7W3aCYjpwtq3xIA36AT7yPsqbNq/nEOIYCBHpET7o+FPNjn7+uivkPFJezspstyis9w8ts2meAB1RuaZbUpCXQWn9QjfpEyFNhK7qV2kQ6xbf8rX5VgdVItqgFr76YsAf7903yPLnjkpOq/crhwxyKl2eZErnM6KfNcKKVV9MO1BriAe3E90K1y60GpRUkZGqdCyp6Lknl8pNCLaYCeVKwodj+FKwqjQAtoTw1R0nIlgSJaIQaFwYixTUT2qqnZAdzUwNRJammmrqRBrWJxYpaTVJoVHPZCpxLFVVG3V9i2Kmqi614ZWggdcIWEZiEMQtcXosgLGOgISkFLjDJhMaIC0x6LrobUURTiuaFcIoXaUoCka1QhHpS6FLpSEIWCyEtSBqm0qRrFLJYPoSaEToSimpyJYL5a7QiyxNLVORLPcMxyan5bjTZDhJABMH4Kx3mXvZelBvKx/ivKw0+Y2wJvfk9F4Xw83u4S+Tf5eGlyiU7Y7J72Nixv0VexxlTFxG66vpu+znWSB6taWdllMtlxPBkW+6pA+6fqBRngjP8SJHJKPTA8Rcknc/lC7FWVSnKDq0lsxtVRQVlROcOQhSYT2VI9lfiQkBUrXShag5Gya2oRdHjZCyouR1J0qpZV5R2HqpGSJCxYkexLTKlhY26ZAbQmuaiITXtVlIglJqk0plHdEhqpJ7IVmNFlQVd1pMc2yoKjFu8d6IV2KKgOymxW6FrugFb4l0APEuSVQpqTOVHUWhPZYHhPATgFwCtYTmNUzWpGtUiFgGEJNKlATwxCwETWp4YpGsUgYg5AshDFxapSE3ShZCKE3SptKXSjZLPeiAQAVV+IqIdTEgwDJtMATdLlz3KwrguaQADNrmAvnsXwkmdyS5waPM8SGj6TPWRCgbVVnneCdTeWuETeOIPQ8qjqsIXp/HanFOzhzTTphTXypQq5lbqimVvlOcSgQKiXSCmtcClEhUABYmj0QoCt3CUDWpJ0J32FDGFI9qjmFI1yuwnMMImi+FHh8G+odNNpcYJgCTAuV1Km640m29jaN56KkpR6sPF9l1g6s2VixUOFernDVJWDNGnYB72pHNU7hKiHRITJQym26LaxQBn+EXSbKE5Fkivx1Oyz9Vq0+ObZUWIwrx6tDo4OkwTxuIPstXj5ElsHFmexBugMSJsthj3vxFYNpgsc7SC0sDA0kaZIiby824PZa7CeHMNTaG1mMfVhpc4tkEjaJmYkiUzJ9pxwpclt/Bqx+M5t09I8hIgIZzF6SMnwrqrhUoaWOgN0EgsI5F7zzKrPGPhVlPQcI0uGl2tuovcNMeuN4M8Wsm4ftTFKag7Tf1qv7kfjySswxTmtSQpmBdTkJOAS6UoClYxSyolNinbTS02KaIVHIqyPQkLU9IQhZCMhdpUoal0I8iEOhO0KUNXaUOQD2XC0EaGQEw1IYXRJAmOscBZPMvFOoaWtI63v8AdeEx4Z5X7Ud7JlhiWyy8W4Vj2McSZbMBomQYn2i11n8mwVF9OoagLiLyHRA6+/v2Q1bPXuo+URNzJJ44CaM5PleSTpbBuIB5I9xMBdbFgzQxcPz+vwc6eTHLJy/L9yqxuHZqOiY4nf5sEC8lqIZieqvMiytuKfp1aQBJgSfYd11ZZPRhc+kZIxc5UjN0cXe9lYUceJh0e6d4syBuGqBrHOcC2SSBYkm1uwH3WdMhMh6eeCnHphlBxdM1ryIkH7IB7+CqnD48ttPwj/6kOsbHp36ILE4MpVC1aatMqyMvZ5r5bSEglsFziOgO3ugcDR11Gs1ABxA1HYTyVt8koNpUatNz2uAedJaDewmfnhY/N8h4o1F7/wAGnx8Sm99GewjTh6ofSdESBqE2PXTErTZpncNYWbm7gNp5CqMU0TYJrWSIXNyVlalPs0wbgnGJNh8Dh67y8udScbloDdExu2drwY9/hwyyHu0O1Mbef1RFzHKEp0SCrbAF2qQbhSWScepa+jB6cZ9oZ/TOaATF+hv9k6rlxFxcGL9zFre6uKlKYLG3NnR3sbJtGpTDjT0uEnSRO3yPcpP3iT2ifdop0wGjWeYbTYIBBgCfkkojF0GkkzpdAltomwMfurOnTp09jptv1HZA5vp+oH6uOsWSo5OU9Khk8XHG+Tv/AH4CMpwzS0Ohp6WEzO8orF4RjruEqqweaMpthzTbkXJ90Vg6rX0zXElzwTBMkCSNIHAkcJWWM1JyZowyg4KKGY3LWVg1xaDUYQWuNpLTIa4gTpuUXicLrEaYiNJ7LqGIZO4T3sIdrLzB/SY0gAX0x90pyfQ6kVFfL2scCQSOf9K2p0mMEgfO5jhDNzOjUqmi12p7RcBpIHudhugs9zTyaRDbVCIHbur8ZyaiytxVs89//RsoFLEeY36aoENAgM0gDTMRxssmFrM0pVq1N1Uk1A0y5s3aI/8AZHQXuNvZZ2lhXEFwa4tbckAkAcEnheu8DL/wqMnta/g5Gf8AG2l2MptRNOmupsUkra5GdjlG5y4lK1qiANaFIGpzWp4CDYBoauIUgal0IWAihJpRAYnaFORD2Zh6Kkx/htlUlxc4OJ7QOwtsrimYF1X5k6oxg8qXXvyQN5BXhsUpRl7XTPQZVFx9ysyea+HQwEMqanATHWNwAOf8rPty6qXBpYRNgTZsgaonrHC9AZh31od9Jvq6EDi3ZWr6DXCON/Y7ffddKP2hkxKnt/2MX3WM3a0jHu8NMdQpO0aXlxNQybC8QDwbG60OV0mUnQwBoM7ANkn2Vs2mNMEcfsgHNDhcEDhYsnkTyqpPRrjhjB2iXH5aytTqUySRUIdI4cAA0j20hedZ94VqUC39YcCZa10NjcFb/CsLX+kmOii8WYsNpeXJBqAiw/THqP8Ab5TvD8rLhmox2n8C/IwwnFyemjB+Dsxbhqx1wGv0gO0glpmN9wDP4Wj8XYelLXmnTc50OFSYJjuDDuN5WTo5XUe8DTAI1aztHB+bW7qxxldultKo6S1sarnsPYRFlv8AMjH1lkhLfzRmwylw4yX6F3UwOGrta4Hy3wPU1rYnf1NHfndQYXD1WMc1xYdX0Oa5pJINxG9/b43WR/rzTnQblJg8c4O1EnVIIPQhI4z48btfFjPbd1s19Co0iDv9o7FTU6fKo8oa+rUmdzJW7y/LG6Jfx/JSMk1DTGQg5FPSZPCs8uw+k+6Op5aGmQi/KaL7LNPMnpDYYmtsGqV2sBhsuHawnaVXUMuqVPW6wdJJO/2V26uwfqCqqmZ6PSPp27/baFMTlT4rZTMoWub19CargNTRTDiS3k7DtChdk0NJ1er+ymoZwyBqnf7dES/EtgmQ5t5jiBKnLLHQeOGeylxWWEhrdYGohu1+JtzCjyvJxhqrqja+qmGnVTMazaYPG/TqpcfjHFrfLYS4OaQGyZvsY+FmvFGLLcQ+DuZ5EdloTySXC9P9BUVjT5JF9mOZU5tLXMMES34nSTBHRG0s3ZVpw5pIILXcb9PwvOfOJ25KKoMqbBxvwpLx4pdjFlZc13U6bi6k1zXbF+smbz9OyrMZi/NfD3X69VaY7LyKIdBBAG/PVZqu8mx+/KZiqWxck0aXIq9Bupjx6Xgt1dA4Qfx+6AzGpRwwxOHYww4BrX21cG/Vp6/5VOxxbforXK860gCo1tVrZ0teAQA6Q6J23KcoOD5dr6X9CrdquvzMtKVoV94gypsDEUWEU3EhzRBbTI0wd7Aye1vhVFNi7mHPHJDkjnzg4OmNDEoapNKUMTeQsjDU8MUraakaxByARtYnhimaxPDFVyAD6UulEeWl8tDkQ2mAx7nPgXE91d1mkXHG4VH4csAS2/7q8MSSXC/deNyVej0UE+OzqREgwBZPxNIFscnmOeJSsDeI+FDmVU6XBgkt33VFthlqLsrsbXfTpSCQQOSLxvvuNtuqB8O5nWrOcHuYGtFhpEkzNj7T+ENnFR0ND/UehmDtc3/ZR5TUeGu0N0yWjXpFgLwJ3mdyuisUfRbdW/kwrK3l+a+heYjGmnUuFLjMCzFNDiSHAGItugs1r6KjRpDmwLz/AHUGNzFxcPJAbHJ2+3VZFGSqUdGptO0xua4BlJrWMsGiOZIAG5WOxdNxk9vwFfZ54hcbOYJHIN9lmsVigYIsVqw8+2JnV6ANF0SGdFE4jdPpStDYEjUeHKLgdTdhuVuaWPBaI0ybCTA+Vg8izPy2ljh6X79YHQpc0ztz7ABrRsBZYZ43OY6M1FGp/wDM1TU8qnTl4gOB+llwJMcXBsrSpjSCRDXRY6dwT1avOR4gcA3q3UNQEEtMekkbiR+UyhnzmP8AMB9X83V341/BX1HXZtHVEHinSIlDZfmzcRAsyodxs1x6g8H8KfMKL6ZAcN/p7+34TIKpU+zFODq/ghq4atTEvYdN/UII9yRsghjSJErX5LXHl+txIOwcWutyBA27G9ihsfk9It1sp0y0AyLgmOjgZCrHykm1Nf0HvxLScH/Uq8srF7ajGOIqFh0QYuIJE9YBWMxtJ4eQ8kum83Xo2R0qYa80RDyJh1wCB9LSbx79Vn8RktR9f1i7iSeAgs0ecmuhkcTUEmUOBws9ls/D9CmwaniSOUC/Ky1232VhQwziI4SsmTkNjGifPcwa5mkCepKxWIpXmFp8VhYVZXwpPCtiaj0CdsonUdVgFNh8ucD/ACyvcLge11c0MmOnUYCbLyOOhax2ZbEFzGljDAduATBncEIKpg4ZJkTEWkE3HxytmMvoyGF7dTyQBI6T/PdRZzhDQ01GCQG6QDENdJ9Zvc3sI7q+DyGpJL5/cXlxXFt/Bhq2HLYBBBgEgjrcR8QkbTVnWpuc4ueZJ3J3KQUQF245db7OW+9ATaKlFJEEgJpejzbKjRTS6Fxck1IbIKQklISklEhp8kL7DhaFlK9x7Wsg8C4NbplodadrKwMkRK8jN2z0kVoz+ZYSs90h8AbRaFPl2HdTP/I8idv+0K7FCRcKszyuxgDYJcRI/wCsGJjn/RVoNy9qKTSguTLU02uaJAPTqFV53AZqmIt7n3GyFrZnUaGwPSYvFyrrCv8AMpgmL9kKcHbC6mqRkcRTquGogkDk8IKpLWgzvxzut9Wwwc0jqN1m8wy9xGlrYgX6mef3To5b0Lljoy9So1/1bqsx+F5atC/KHctPYqE5PUnYx7J8ciXyL4sz2HwhJVvgsuBLQbFxj27rSZdklMANIJebpuMwZokwb+9wqvPbpFuFbZTZllbqbdp7i4j3GyzVfVK3mIzdr6YYZm+oT9Qjm9/YrEV8QJKdglJrZSaV6BDVOy4VE1xBUbQn2Ci4yusGvbP0zfsvRcbneFlgcSQyHNIveLHrZeU06kbqRuLSMmLm7svGXFUbrPc2DnxTLdB9Vty7kuJ5U2VeJ9DdDgD0njr7rD0q641FT7vGqYebuz0SpmNFjmmkSNQE3vv/AKVxhK7azy4EENERz7kcLy3C1ztK0OR5yKLpcJB3HPx0SMmClrsvHLvZu24UAyfzwn+W1t9gs/mfiaiA0aS5rhe5B+UFivEWHeANBedhdwgdImx7pCxSfwxrnFGlfQY82cJ6JlXLGoTLaDKMP8ydQIMkEkTLSI2turHE41obIcJMae5JgflB6dRZFtXIjoYBo3CnxDPTAFukKtzLHtD27ktm36STG/2QNfOHHsioSewckrQr8oZq1U2iALt+ozPAP7KTAvZXa6g9hY5klgNi1p+mJ5G3skyfHOJI3nlH4Z7iTMX39uibLJLp9/DsVHHHtf8AqMZnWDdQdedJnS6N44PdVRrq18U1KxrFlSdLSdFoaWzYjraBPZVAYvQeNbxpy7ORmUVNqI01T0XSVIKakbTWjkkJIw0pwYpRTTvLQ5gIdKUNU3lpfLQ5EGU8U4877mVfYTGvazUHkXFrX+FjMJjWN3ueEZhsxEg7X23XCyQv4OvFtHoOX5g4uAdeRb3R2LwzagIcBEb8j2PCydTPCWNAFwRDgNvdT4rxLosRqEQeP/qyenK7Rp5xqpBgw+kHlthBcCBfcdJVrQxDGs4A91lsR4hplh0s0udHtHshsPig7cq0scpbkVjJR0jd0qgImUr4sQB0kmDCoMC4hsl0ADaVLhcfTqO9Rg8ElJ4DeZduptN4CrM0x7fpH3EQjKmOpM9LngEhZ2tRL9Tv0A3LYdEmAAJk3hMwwi3cuhWec0koIs6eNw7DOqSBvFj89VQ5g/W01ZA1ucA2bwOfZTZk9mHZAl1SfU5zRAHQAyP4VnKuZy0Dgbfz+bJ8IR7jYtyn/wBqIqzYDjHG6z1cXV2/EiOqq8RUBWmOgAcFPaLJ1NwTXGVaywxziuppNJKJw1BSwE9KISaCpm07IukziFVyDQLh2lXWR4R1R/qs0XNpUuXYUHeB8ErSZbUpUA6ASXC5O23A91nyZtUi0YGRz4tD9LSTYb9YuPZV9J0X5RWNpHUSev8AtMFuE6H4aFs0Xh5rXs/5DB1Wvv2Vpm9qFKTD21PQeYEyZ+yzOV42kD69Q5kG326LbuzHCVGAuc0t4nt05WadwyJtMYkpwaTDaWGa9rXuEktBnrI3QuJyscfZFNzSjA01GnaADv0A/wAKHFZq1og7k/He6zRU29DpOKW2TYfCsYJgd+ykqPbwQSQYAIkjmPuqjMce14Gg32NuD3Va1pt2T4eO5K5OjNk8pRdRVhFTKKlbSHAt0z9R1c8D49lSYrB+W8sMEg7i4WhGNdpg378hVzqK3YMk4tp9GHM4NJx7KoMCc1oRxoJPJWr1TLQJoC7QjRRC40VPUBQCWLtKMNEJvlI+oA8zGJB2VhgjyqahSPNkfhyQsTZ2aNhlle0dVT+IsUW1PqBbAgD9PEHuhziS1hM3AVBiMWXG+6pjj7rC+qLL+vd1ROHzAjlZwVyp6ddPcStGyoZy7Tpn8omlmsCLcrI0MQjsNqJhKeOIbZoDjHG4Kssux9Zw8um0e8fzoqbDUXjhafIqL5B0G3O0JGRpItC7IcxwtUUyaz5PfdY+vUAMBes5jgGVWf8AIYjmV5vn+ThjjodqH5VcGRPTL5I0UVauhnOlEnCGUbhMsLv0lbHJIUkVACkp0yeFomZG6fpP2R+ByoB0Fp+yW8qLUZylh0TSohbat4dZUgMBB2k7Dus/jMkfTdBI+6WsykWcWiuFLgBWOCy4u2mVG2mtT4WohjXV3z6ZDR1tc/kKuSbS0SKtkWT5U9xsIEwSVf5tl7TTmwLedgfdNwOda2k6Ig8FT1MdLTYdv9rLLnY5OCXZjG5U+q+Gt+UBjsvNJxa7ccLcYHFOaHBzZ5Gn+6oc7w7nl1Qx7duAFohOXKmJko1ZkMQEE+s4wJsFZYuFVvddboS0JaDMPiTC1nhqqawLXMGkwCDNzNnAjlYdlQrUeHcWW1Ghl7zEX6kJede3XYYaex1ao+lVfTmdLiJ/bdHYHHS4B9hNz2TsdlTyDiDBD3OMTJAmBflMoYP1BuxJi9o907nCcPz/AMmKcHGfX6Gobj6DLNg+0H5JK7Esodgf+qrquUeWLuBPHF+yHpAi4JlYY4ovcZM0zzSj7ZxX8C1WwSN/iFHKJqVS65N0zQtClrZiklehgATn04sRB7q2yvBNjWbm9uB7jqpsW1k+poceDCRLyEpUjTHxHKHJsz5Ym6FZZp5cekAO7ce42VZrK0Y58o2ZsuPhKrs8bY53dHYSpe65cqt2dMLxtFzoLb2uFU18O7lsfCVcqQm06IwfylJTYuXLRdgDcM1XWColcuSpsKNdk+H1AWMrZ4KgaY6A8brly52R7NEOrCauk2Isq3G5LSqXED7LlyCVdEcrdMrT4UZM6hCucvyplIWAPxdcuUlJ/LDBL6BjC3pt/OUnlM+qAO65cqF0CHGMBMDZU1agcQ4gAT1XLkxKlaKXbo6l4XLTMhynxWCcG6BuR9PYLlyCySb2RwSQFgtTQRCJ1FcuTuWxKQKMW5psTZCZpjJuNv7rlydFbKN6MrmL5MhAFhK5ctPSKo7TC0XhnyzUbrI+THHVcuQnuLCuze1cTSI0XAmdgRfmDbdKzBAkOLy4CIBAt89Eq5cy3FaNFKT2TVKNNx9X1dyfwg8RlwaC4Gw4P+Vy5WjKUWqYueOEk20BQnNaeFy5anLVnNjG5UE0MQW2U7sbIII635C5cqOCexkc04qkyofSXeQuXJ3JozNH/9k=) ;

 }
 #img5{
    display: block;
    width: 50%;
    float: left;
 }
 div{
background-color: rgb(255, 255, 255);
 }
 #div1{
display: flex;
float: left;
    width: 500px;
    height: 150px;
   
    
 }
 #pic{
    width: 300px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
button:hover{

box-shadow: 20px;
background-image:url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxASEBASEBISEhIPDw8PEA8PDw8PDw8PFREWFhURFRUYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OGhAQGi0dHyUtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0rLS0tNy03LS0rNys3K//AABEIAKgBLAMBIgACEQEDEQH/xAAcAAACAwEBAQEAAAAAAAAAAAADBAACBQEGBwj/xAAyEAACAgECBQMDAwMEAwAAAAAAAQIDEQQhEjFBUWEFE3EigZEUocFSsdEVMnLhBvDx/8QAHAEAAwEBAQEBAQAAAAAAAAAAAgMEBQEABgcI/8QAIxEAAwACAgICAwEBAAAAAAAAAAECAxESIQQTMUEUIlEFMv/aAAwDAQACEQMRAD8ADOYFyBzsBe6fbaAy4xlMvCzMhN2FqrMPL6AtEGWNI2Kr8cye7vky/wBRkYqkT1OjKznqamOVSEKXnHwhuBnZCVfI4pkcgHGBsuYnR2q6GJWl47merRmm9YPP4Ep7fYWcRaYecsgJnpoHJPfQNza5CtuW8tsZkCsfIohktIBCsKqTsWNVpMdyBldg64hoVsvCrsFjHANWW4p0chBj9U88xdSiuv4CRt7IRe2aWCuLGkXjEpp4tj0ILBLdaNTF2LKDGK+R2USryKb2O3xDRkdUxWVvQ6pinOwKzfwa9xHPcAcR3JzQt5GG4icQBs45hKBTy6GOMpKYu7SrsO8GB7kHcyvGC4znEe4nvYg3EX4gCCJHGg1Z8J/UpvmH49jDjIYjez7StI+gWLmtoendg7RbnJnyuC6S36vkW2tGd5WGjVpe5p6fkZ1MTQ06eSXLRk3gbN306e2H0NatGX6bBM2qqXgystrbJvxqQOURS1GjKl9hedEs7CPYkLvCxOMWHrjgar07XPH5RfEF58ICsqBnx2wMWCukkEun2WDPuyemgqxaWtAr9Q+gBXFb5A61J8k/wWY2QZcejQoQ3DYDpNJLq38I06vT8rYa7SEzjpvo7ptw8tOwtdSSSSGYxEVk76NTFi/XVGW6GHppeUNuI1p6+oFZuinFgXI5TVgZjAtGCLsiqtmtCSQLhBW7DDMvX6nsFC2xOfIpQKVv1P5DRkZ1chiNoypM9Zf6PKR33AUIP4Dxqj8/IvWhvJv4F5WgncaO3j8A5T8hp/wnuH9sQc32b+zLwhJ+Pn/AzxnHMLbFqNfL2SNaXn5OsqpEFspTWui6LoGgiOaGJn501FDhLD5dH3K8RtSrTWHyM+7RcL7rofRV5H9Pusfja+BKcisZNPb8jDoOewKfkI9fjNs09FrJLGd1+56P0+Slut/4PK6VbGjpbpQknF4/s12JMvkC8n+XFz10z3WghjBu0JbHmvStT7kFNbZeGuzXNGzRY+7MzLlMPL4jmnOuzU4BXUS4SyuYvqU3vnkTPMhP4gGU23uzvECUS/CxVZynH4K0VmBnDISbCabTuT35durCjMI8jxEhVaddhunQvtg1tPporog8iuPIZk5vBVLbEKaccx6ldgLi2+Q3TXgf7Nk+PDxrRx1FZRwNRiR1Z2B5lfq2uhOj6m+yG4vBdUpckV4DlUmFGNz8hVImQbYGzIPHYyraRNXqNtmZF8sj84ZFrlGPllGOUvgzs9VXbF6oP4Xd/wAB4TS5fliN+qYnZqmOWJshedSb61PkJDUo8xHVyzsPae6QLwHPzDcdwNyE4WSfMPBMXx0F7XQwpEZSJJy2BY3l0EggqiUrQxFAMqxraBqJfhCKJbhB2UTB8GbOt5RedbyU4R9eQfqq8cWnXgkYB5xOQixLzh+grGoNCIeFQT2BGTKHOFGx/wCJt8Vi6Yi187o9NFNTjjk1wv53aMP/AMU0rzN/8Y/fm/7o9lp9NjdrmSVWzB/0Zmc7aAxpfUtGjI7CHcLshTrRk6bZn/6cue/wcejNDJMCKoatoz46FZy1ljMNPjkNRRZHZsRlnYCNYZUhIQ6lmU47IskA/bOqJfJCuaI6xokYjEEBiwimGz0aRaUQfCEycOBtIG4gLkNsU1HMOX2IyrUid08CNsWzR4UXjWiqa0Ztw7+zBnpW+hWHpOeefg9Goo5JoL319E78OflsyqfTYroxlaWKXIaTKzkjnOmc9MShbCRzJLGVijpOXTxuwSsy/BzVT5R+5KIntdHOW60jQrYeDA1hYoRRq4d6Co7kqjovRWmfHbaPApOo1bUJT5k1M/Wsd7FlpmzQ02g23X+Qnp1eZpPs2aOoaivLEO+zt33xQr+lgv8A6cVSbxjqGqi5NGhVRGJznsTWTiaXo0IxUFjCbyzbs1CXLc87Gx/ga/XRwC6MbPgeSts0Janydjeu5kS1GSVybI8uQ9+Mkj0MLEX9xGdpxyEciObZHcJMKphoA41BooZDJcjX0FRySOxZbBXjZHaF2dXkLJC84NlsMgypr4I7+kfyXjIvRom+ey/cahooLnmX/J/wOdoVjw5KexetOXLl3C8CDTewEDkUevR1i10Q6ZWSCmhWSdrQlwloQYxwoumkhvsJlhFXBgrIscnYhWywOW2T5olIAwcpEskCkyiUZmSjrZ3jwgTngHKzIeid2RLLbfUYpARCwZygsa7HoSCxmKxYSLENGpjroZ4ycYLJMgaKOR81thsZ9kMM3ZafZiNtGehlvJ0frGO0F9Ir+rPgvqK25N/+4DelV4f4G51bteWT1QNZNWLaGt9fsOqO41paFwotqNP2F82iW8ydCduwFMNagarFXlYcvo5xDWnkLqoe02nJbvYGSkkP6aRo1ywKVQSRdyBVGVkXJjTu7Ehl82BgHiOiibJOkHgwqYqpMPXJ9SzHRFSCqIWEAcWFjIqViuAZMpKZU4wlZ3RRnDrZzhYSoFycYC6eMDDiLXrkGrEXJI2ElYu4vJpC9t3YbLJLfFDNl68i07vDE7NTLsgF/qPCuWX0RXE7MvPmX2H1Gp4ea/cUfqKfJMUjx2tt8k/t8INGjBXKlGVVU2W48lo5OpYLIIWjrmNadbCiWWPVJY2F2ynCuxitBoxFo2ElIRrZoxSSGXJFfcQvk57iPcTrynmoRyDlVj7mhTTsH/TJrB85y2j9T9yTM7RrEvsM2R+rP3KxoakNWQ2T8Cmzl3+20MaSO33LWw3OVPCR2x/V+AHRG3+whr6sNPvsKxizV1WHH4EJLYRdFWK9zplYse0eqS2l+f4M5FkyarCuFS7N334vkyReTJrj5waGnkxTysjrFx+ByLDwYmpjNDyPxZCXJPQ1XDIV4iUUsIA7MlnulEnr2HU2w8GKwDJnZznnAzFlsIWUiymNnOA4GFFHAasLKQ6cyYDkkkK2oPOYOSGzexNyIW15F56fyPyiLWMpizPywJzpwI36RtmjOe4vqrkkVY7Zm+RiloQ9/wBpYxlZz2eQf+owfPK+Vn+wrqtZCWd8Nc0+fyISZoRPXZi5K70jdVil/ta/JKnJvC+77GPpdNOT2+lf1f4XU26ZcKx25tv98jGhS+ew8YYDwkIy9Rr+X4/yBfqMsfSkvPNgrHTHrLM/ZquRPcMGeus/qf2SRR6uz+thrAzn5aN6dgLjZjK6T5yf5J7vn92dWEF+Ts2oILEzf1a7hI69LmfELMj9jrFT+h6dWTjhtgVj6rDszv8AqKfJfk7zlg+vIvoYhEvZzB1WZK2WZYD0Dp7JbB4bMq2xG7TLY8x6vJRseOT3+H1RPlnXZR437U5Cq1BKp7mVC3LNPSY2ySUWZI4oei9givwgbu6HGhDItf0NDUM0dDKTWTMopcml3N+mpJJdkHHZL5FSlpFctkhHf53DuvsXURqnsk5EhEIkRHWUShLZxnUcR3IxHC8SSmL239ELub7jpQLHcljOTCJlUE2RjExO6SLyiBlWUwQ5mCklnJna2OcmhYsGRqtRvhlmFfsZflWlOjA19WJcS5pjGnnBrKg89crOH/I77KkxuOlSia0V0YNzv4MuWqnySx5fMC1J822adlPgC4D5aENCqWDmWHlEDOA2UCwM7X3F7NY1yZe2OzEZblESmdlB/wBW/Jb9TIWjAOqWHxlBNJF4azJLddjYyK7S8ZZPzJYds/ov0LZp06ltmrpmzJ0UFzZo16iKa8MZ60SZ5+pRu1rEc9cC1dovZ6j2/Jny1uM4EW0n0RY/Hp/I/wCoeqNZhD4lL+EYOr1GcfcHO15znmK3Szj7im+TNLx/GmBnT27mrprGY2ihk3dHUv2J8r0D5OkaOkrcnuOWRSePAHQBdRP6vsSUzIpt3oY0CXGvhmvAxtBP6vsa8JDMdEPkL9hlI7grFlslKZIzsUW4TqZMlEoAq9gM3kLNgJWDkjwKwBZM7dahC+RREicl6Dy1SRRa7czrLATmUzBn5cx6SFyaysHJWIwtPe48uXboaELMrYoiCK8+w126ZlX6ZvdLJoSm8NA+ItxLRmeQ1RlxqsXQZipdmM4JgtT2Z7nQBxAWwQWy1dwEp5HymTXaQCUEUkgjWTqrHJ6J6sz9ZFYW27Yn7KG9VLM342BxiUz8HkzldS7DHAiscHeNdzz7OM8pBjlEO4vXU09xhSPgq6P6Zp7Gf1GEAnqXzAyBSl0RPdnJxodq1Db5hrJ9BOpYGYkVsXcpMq4lI0tscrqGaqBLyaFvLpANLRvg19LW9kc0ul6j9VOFkmutmfnzpsJX9KwitzyAnduWUydk3H7GdM+TNaiwxa5j1FoSeibNG+zWhMMmIV2kv10Y83v0S5lE5CJ423pGlxgpahGQ9dKT7IJCQ+Mp30NfI7K3PMHZLsD9xAp6hIsx2mKuCtuRK+T6hbtb2Rn36jP/AGWxRn5pZS6+K/6E5a6PgremxSWmLYaZj5uQ9DWZ6od02p8mLChrsGWUVwkzMy00eijdnqGjgwdNexyN3kqiSK8xoyaFr5+QfugZ7lUSRZMrYKc8BqaZPd7Fqal1Gxzf8I2wSqS5E4V+C7kuvLqeV9U9TlY2k2oJ7JdfLDiXTCiHTJfrK4t5eXl7LcXl6i3/ALVj92ZMpbv5IrS9QtFy8dI2K5t7t5+Qz1MVsYf6ryWWq8HuJx+Ox5yQKSRCH55R/RSBT7IrCBCEljPoNAZqRwhHkE5DS09Rpaeg6Qkb2zLzUxyukNJ4RCHtdEO9sSspT35FFDoQhPQ1UychiuxI4Q4FSOar1Hh2jzf7Cddre73fd8yEDQ2cczO0PVTGYzZCDpZJa7JKxgpyIQqhk1pC1khacyENLEZHkC85FYLJwhdiMbOwqiRkIX4jF8gDY8PKLx1BwhowjJthIarcbg8kIU6JaGKwjlghDgsz/WdUo0zw95JRWPL3/Y8nJkIWYZ0ivB/yKalY3fUQndl7HSFSNLD3OwlUM8xqMdjpDzZy2f/Z)
}button:active{
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVwWWUpR2JYq-EQnbNMR3GVH4un9JJk03nWQ&s) ;
}

body {
  font-family: Arial, sans-serif;
  background: #f5f7fa;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #0b6b9c;
  margin-top: 30px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

.box {
  background: white;
  border-radius: 10px;
  box-shadow: black;
  padding: 15px;
  text-align: center;
}

.box img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 8px;
}

.box h3 {
  color: #0b6b9c;
  margin: 10px 0 5px;
}

.box p {
  color: #555;
  font-size: 14.4px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9fafc;
}

.life-section {
  text-align: center;
  padding: 40px 20px;
}

.life-section h2 {
  color: #0b6b9c;
  font-size: 28px;
  margin-bottom: 25px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  max-width: 800px;
  margin: auto;
}

.photo {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.photo img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.photo img:hover {
  transform: scale(1.05);
}
#div4 a{
   float: left;
    display: block;
    color: rgb(0, 0, 0);
    margin-left: 1px;
    padding: 14px 16px;
    text-decoration: none;
    background-color: aqua;
  ;
    text-decoration: none;
}
#div4{
  height: 100px;
  width: 100%;

}
#lower{
  background-color: rgb(0, 0, 0);
  height: 60px;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  font-size: 16px;
  color:#f5f7fa

}
#img4{
    display: block;
    width: 50%;
    float: left;
  }
#txt{
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-left: 280px;
    display: block;
    width: 50%;
    float: top;
  }
#txt2{
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-left: 280px;
    display: block;
    width: 50%;
    float: top;
    background-color: rgb(104, 255, 235);
  }
#photo10{
    width: 350px;
    height: 350px;
    margin-left: 420px;
}
#contacts{
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    padding: 20px;
}
#head1{
  color: rgb(9, 19, 167);
  text-align: left;
}
#QRcode{
    width: 300px;
    height: 300px;
    margin-left: 10px;
  }